# Gradle files
backend/.gradle
backend/build/
backend/!gradle-wrapper.jar
backend/.gradletasknamecache

# Spring Boot files
backend/target/
backend/*.jar
backend/*.war
backend/*.ear

# IDE files
backend/.idea/
backend/*.iml
backend/*.ipr
backend/*.iws
backend/.vscode/

# OS files
backend/.DS_Store
Tbackend/humbs.db

# Executable files
*.exe

# Configuration files (sensitive information)
backend/src/main/resources/application.properties

frontend/node_modules/
frontend/.vscode/
frontend/.angular

.DS_Store
